{% extends "base.html" %}

{% block content %}
    <header class="text-center">
        <h1>Login</h1>
    </header>
    <div class ="container w-25">
        <form action="login" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary center w-50">Login</button>
            </div>
        </form>
    </div>
{% endblock %}