{% extends "base.html" %}

{% block content %}
    <div>
        <h2>My Characters:</h2>

            <label for="all_user_characters">Choose Character:</label>

            <div class="container justify-content-center">
                <div class="row m-4 justify-content-center">
                {% for character in all_user_characters %}
                    {% include "partials/character_stats_widget.html" %}
                {% endfor %}
                </div>
            </div>
    </div>
{% endblock %}