<div id="battle-map"> 
    {% include "notification_container.html" %}
    {% if current_location_id %}
        <div id="grid-map" style="grid-template-columns: repeat({{ cols_count }}, 50px);">
            {% for row in rows_range %}    
                {% for column in cols_range %}         
                <div class="grid-cell" data-x="{{ column }}" data-y="{{ row }}">
                    {% for character_position in character_positions %}
                        {% if character_position.column == column and character_position.row == row %}
                            <div class="character_mark">{{ character_position.character.character_name }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
</div>


