<style>
    .grid-cell {
        aspect-ratio: 1 / 1; 
        border: 1px solid #555;
        text-align: center;
        display: flex; 
        justify-content: center;
        align-items: center;
        background-color: #3e3e3e; 
        color: white;
        cursor: pointer;
    }
    .token { /* Character token style */
        background-color: red; 
        color: white;
        border-radius: 50%;
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7em;
        padding: 2px;
        overflow: hidden;
    }
    #battle-map {
        width: fit-content;
        margin: auto;
        padding: 10px;
        background-color: #2b2b2b; 
        border: 2px solid #444; 
    }
    #grid-map {
        width: 100%;
        border: 2px solid #555; 
        display: grid;
        grid-template-columns: repeat({{ cols_count }}, 50px);
    }
</style>

<div id="battle-map"> 
    <div id="grid-map">
        {% for y in rows_range %}    
            {% for x in cols_range %}         
            <div class="grid-cell" data-x="{{ x }}" data-y="{{ y }}">
                {% for character in characters %}
                    {% if character.position_x == x and character.position_y == y %}
                        <div class="token">{{ character.name }}</div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>