{% load static %}
<div id="battle-map"> 
    {% include "notification_container.html" %}
    <div id="battle-map-grid"></div>

    <template id="battle-map-grid-cell-template">
        <div class="battle-map-grid-cell" data-x="" data-y="">
        </div>
    </template>
    <template id="battle-map-character-mark-template">
        <div class="character_mark">
        </div>        
    </template>

    <script defer type="module" src="{% static 'battlefield/js/battle_map.js' %}"></script> 
</div>
