{% load static %}

<form id="move-character-request">
    {% csrf_token %}
    {{ move_character_form.as_p }} 
    <input type="hidden" name="current_lobby_id" value="{{ current_lobby.id }}">
    <input type="hidden" name="current_location_id" value="{{ current_location.id }}">
    <button id="move-character-button" class="btn btn-primary mt-2">Move</button>
    <p class="text-muted mt-2 small">Click a cell on the map to set coordinates.</p>
</form>

<script defer type="module" src="{% static 'battlefield/js/widgets/move_character_web_socket.js' %}"></script> 