{% extends "base.html" %}

{% block content %}
    <h2>This is the Battlefield Page</h2>
    <p>Prepare for battle!</p>
    <p>Here is a battle table</p>
    
    {% include 'partials/battle_map.html' %}
        
    <div>
        <h3>Move Character</h3>
        <form id="move-character-request"
            hx-ext="ws"
            ws-connect="/ws/battle/{{ group_id }}/"
            ws-send>
            {% csrf_token %}
            {{ move_character_form }}
            <input type="hidden" name="group_id" value="{{ group_id }}">
            <button type="submit">Move</button>
        </form>
    </div>
    <div>
        <h3>Add Character to Group</h3>
        <form id="add-character-to-group-form"
            hx-post="{% url 'add_character_to_group' %}"
            hx-target="#battle-map"
            hx-swap="outerHTML">
            {% csrf_token %}
            {{ add_character_form }}
            <input type="hidden" name="group_id" value="{{ group_id }}">
            <button type="submit">Add</button>
        </form>

    </div>
    <div>
        <h3>Add User to Group</h3>
        <form id="add-user-to-group-form"
            hx-post="{% url 'add_user_to_group' %}"
            hx-target="#battle-map"
            hx-swap="outerHTML">
            {% csrf_token %}
            {{ add_user_form }}
            <input type="hidden" name="group_id" value="{{ group_id }}">
            <button type="submit">Add</button>
        </form>
    </div>
{% endblock %}