{% extends "base.html" %}

{% block content %}
    <div>
        <h2>Select a Group</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="select"> 
            
            <label for="lobby">Choose a lobby:</label>
            <select id="lobby" name="lobby_id" required>  
                {% for lobby in lobbys %}
                    <option value="{{ lobby.id }}">{{ lobby.name }}</option>
                {% endfor %}
            </select>
            <button type="submit">Select Group</button>
        </form>
    </div>
    <hr>
    <div>
        <h2>Create lobby</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="create"> 
            
            <label for="lobby_name">Group Name:</label>
            <input type="text" id="lobby_name" name="lobby_name" required>
            <button type="submit">Create Group</button>
        </form>
    </div>
{% endblock %}