{% load static %}
<div id="battle-map" class="container"> 
    {% include "notification_container.html" %}
    <div>
        <canvas id="canvas-location-view" class="canvas">

        </canvas>
        <div>
            <img id="player-sprite-sheet" class="sprite-sheet" src="{% static 'location/img/character_idle.png' %}">
        </div>
        <script defer type="module" src="{% static 'location/js/battle/game.js' %}"></script>
    </div>



    <div id="battle-map-grid">
        
    </div>

    <template id="battle-map-grid-cell-template">
        <div class="battle-map-grid-cell" data-x="" data-y="">
        </div>
    </template>
    <template id="battle-map-character-mark-template">
        <div class="character_mark">
        </div>        
    </template>

    <script defer type="module" src="{% static 'location/js/widgets/battle_map.js' %}"></script>
    <link rel="stylesheet" href="{% static 'location/css/style.css' %}"> 
</div>
