<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD Site</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body bgcolor="cyan">
    <header>
        {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}! Welcome to the DnD Site!!!</h1>
        {% else %}
        <h1>Hello. You are not logged in</h1>
        {% endif %}
        <nav>
            <ul>
                <li><a href="/main_page/">main</a></li>
                <li><a href="/groups/">Groups</a></li>

                {% if user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
    </header>
    {% block content %}

    {% endblock %}
</body>