<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD Site</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.4" integrity="sha384-1RwI/nvUSrMRuNj7hX1+27J8XDdCoSLf0EjEyF69nacuWyiJYoQ/j39RT1mSnd2G" crossorigin="anonymous"></script>
</head>
<body bgcolor="cyan">
    <header>
        {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}! Welcome to the DnD Site!!!</h1>
        {% else %}
        <h1>Hello. You are not logged in</h1>
        {% endif %}
        <nav>
            <ul>
                <li><a href="/main_page/">Main page</a></li>
                <li><a href="/groups/">Groups</a></li>

                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li><a href="/admin/">Admin Panel</a></li>
                    {% endif %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/create_character">Create Character</a></li>
                <li><a href="/create_skill">Create Skill</a></li>
                {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
    </header>
    {% block content %}

    {% endblock %}
</body>