<div class="container-fluid">
    {% if user.is_authenticated %}
        <h1>Hello, {{ user.username }}! Welcome to the DnD Site!!!</h1>
        {% else %}
        <h1>Hello. You are not logged in</h1>
        {% endif %}
        <nav>
            <ul>
                <li><a href="/main_page/">Main page</a></li>
                <li><a href="/groups/">Groups</a></li>

                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    <li><a href="/admin/">Admin Panel</a></li>
                    {% endif %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/create_character">Create Character</a></li>
                {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
</div>